body {
    margin-bottom:18px;
    background:#333 url(images/bg-dots-dark-1.jpg?1345111454) repeat;
}

a {
    color:#900;
}

a.button,a.button:hover {
    background:url(images/icon_arrow_right.png?1345111454) no-repeat left center;
    color:#333;
    padding:0 0 0 20px;
}

a.button:hover {
    text-decoration:underline;
}

.hide {
    background-image:url(images/icon_arrow_up.gif?1345111454);
}

.show {
    background-image:url(images/icon_arrow_down.gif?1345111454);
}

#wrapper {
    width:100%!important;
    margin:0;
}

#contentWrapperWrapper,.bgWrapper {
    background:#fff;
}

#globalWrapper,
#identityWrapper {
    background:#f5f5f5;
    width:100%;
}

#topNav {
    background:#fff url(images/bg_nav.jpg?1345111454) repeat-x left top;
    width:100%;
    border-bottom:0;
    margin-bottom:18px;
}

#identityContact,#topNav ul {
    width:956px;
    margin:0 auto;
}

#globalContainer {
    height:35px;
}

#globalLanguage {
    padding:9px 0 0;
}

#globalLanguage a {
    color:#333;
    font-size:11px;
    text-transform:none;
}

#globalLanguage a.active {
    color: #F60;
    font-weight: normal;
}

#globalSearch {
    padding-top:2px;
}

#globalSearch .field {
    background:#fff;
    border:1px solid #d0d0d0;
    color:#999;
    height:18px;
    width:183px;
    padding:2px 5px 0;
}

#globalSearch .button {
    background:#fff;
    border:1px solid #d0d0d0;
    color:#999;
    font-size:12px;
    height:22px;
    text-align:center;
    margin:2px 0 0 2px;
    padding:1px 8px 2px;
}

#identityContact {
    border-bottom:0;
    2background:red;
    padding:15px 0;
}

#companyName {
    color:#900;
    font-size:14px;
}

#companyTagline {
    color:#999;
    font-size:14px;
    font-style:normal;
}

#actionLine {
    color:#900;
    font-size:14px;
    font-style:normal;
}

#phoneNumber {
    color:#999;
    font-size:14px;
    font-weight:400;
}

#topNav ul li {
    margin:0 26px 0 0;
}

#topNav ul li a {
    font-size:24px;
    height:52px;
    line-height:52px;
    text-decoration:none;
    color:#333;
    font-family:Times, serif;
    padding:0;
}

#topNav ul li a.active,#topNav ul li a.active:hover {
    color:#000;
    cursor:default;
    font-weight:400;
    text-decoration:none;
    font-style:italic;
}

#topNav ul li a:hover {
    color:#777;
}

#topNav ul li a.hasChildren {
    margin-bottom:23px;
}

#topNav ul ul {
    top:52px;
    margin:0;
}

#topNav ul ul li {
    margin:0 17px 0 0;
}

#topNav ul ul li a {
    border-top:0;
    border:none;
    color:#666;
    display:block;
    font-size:14px;
    height:23px;
    line-height:13px;
    font-family:Arial, serif;
    padding:0;
}

#topNav ul ul li a:hover {
    color:#444;
}

#topNav ul ul li a.active,#topNav ul ul li a.active:hover {
    color:#333;
    font-style:italic;
    font-weight:700;
}

#breadcrumbContainer {
    background:#fff;
    height:34px;
    line-height:34px;
    padding:0 28px;
}

#breadcrumb {
    font-size:10px;
}

#breadcrumb a {
    color:#999;
    padding-right:7px;
    margin-right:0;
}

#adLeaderboard {
    background:#ccc;
}

.contentArea .h1 {
    color:#333;
    font-weight:400;
    font-family:Times, serif;
    font-size:30px;
    line-height:30px;
}
.contentArea .h1 a {
    color: #333;
}
.contentArea .h2 {
    color:#900;
    font-size:18px;
    font-weight:400;
    line-height:20px;
}

.contentArea .h4,.feeds dd strong {
    color:#333;
    font-size:14px;
    font-weight:400;
    line-height:16px;
}

.module {
    color:#666;
    font-size:13px;
    line-height:16px;
}

.divider,.border hr,.linklist ul,.linklist li,.comments .h4,.feeds .h2,.formbuilder .h2,.focus .h2,.feeds .h2,.feeds dd,.comments dd {
    border-color:#999;
    border-width:1px;
}

.focus .h2,.feeds .h2 {
    padding-bottom:7px;
}

.focus {
    border-bottom:1px dashed #999;
    margin-left:10px;
    margin-right:10px;
    padding:0;
}

.focus .h2 {
    margin-bottom:1px;
}

.focus .h4 {
    margin-bottom:7px;
}

.focus p {
    margin-bottom:10px;
}

.feeds dd,.comments dd,.linklist li {
    border-bottom-style:dashed;
}

.feeds dl,.comments dl {
    border:none;
}

.dotted {
    background-image:url(images/bg_dotted.gif?1345111454);
}

.border hr {
    padding-top:8px;
}

.linklist li a {
    background-image:url(images/icon_arrow_right.png?1345111454);
    color:#666;
    padding-left:20px;
}

.comments .h4 {
    background:url(images/icon_comment.gif?1345111454) no-repeat left 3px;
    padding-left:20px;
}

.box {
    padding-top:10px;
}

.box,.hours,.formbuilder.normal form,.formbuilder.simple {
    background:#f1f1f1;
}

.formbuilder.simple .h2 {
    border:none;
    padding-bottom:0;
}

.formbuilder hr {
    border-color:#d0d0d0;
}

.formbuilder .text,.formbuilder .textarea {
    background:none;
}

.formbuilder .button {
    background:transparent url(images/icon_submit.png?1345111454) no-repeat right center;
    border:none;
    color:#000;
    font-size:16px;
    font-weight:400;
    height:24px;
    padding:0 15px 0 5px;
}

.gallery .pics li em {
    font-style:normal;
}

.gallery .pics li span.pic {
    background:#eee;
}

.gallery ul.nav {
    border-top:1px dotted #999;
    font-size:11px;
}

.gallery .nav a.previous {
    background-image:url(images/icon_arrow_left.png?1345111454);
    height:10px;
    width:12px;
}

.gallery .nav a.next {
    background-image:url(images/icon_arrow_right.png?1345111454);
    height:10px;
    width:12px;
}

.map {
    border:none;
    padding:0;
}

.map .mapcontainer {
    background:#fff;
    border:1px solid #ccc;
    padding:10px 9px 5px;
}

.hours {
    padding:0 0 5px;
}

.hours .content {
    background:#fff;
    color:#666;
    margin:15px 15px 5px;
    padding:10px 15px 1px;
}

.hours .h2 {
    background:#fff;
    padding-bottom:8px;
}

.contact {
    background:none;
    border-bottom:1px dashed #999;
    padding:0;
}

.contact .h2 {
    border-bottom:1px solid #999;
    padding-bottom:8px;
}

.contact ul li strong {
    font-weight:400;
}

.logos ul {
    background:none;
    border:none;
    padding:0;
}

.external a {
    color:#fff;
    font-size:22px;
    font-weight:400;
    background-color:#f60!important;
    padding:20px 15px 20px 56px !important;
}

.external a.photo {
    background-image:url(images/icon_photo.png?1345111454);
    background-position:15px center;
    background-repeat:no-repeat;
}

.external a.quote {
    background-image:url(images/icon_quote.png?1345111454);
    background-position:15px center;
    background-repeat:no-repeat;
}

.subnav a {
    border-bottom:1px solid #e4e4e4;
    color:#666;
    font-size:11px;
    padding:4px 5px;
}

.subnav a:hover {
    color:#333;
    text-decoration:none;
}

.subnav a.active,.subnav a.active:hover {
    border-bottom:1px solid #e4e4e4;
    color:#000;
    font-weight:400;
}

.subnav li li .active,.subnav li li a.active:hover,.subnav a.hasChildren,.subnav a.hasChildren:hover {
    border-bottom:0;
}

.subnav ul {
    border-bottom:3px solid #e4e4e4;
    border-top:4px solid #e4e4e4;
}

.subnav ul ul {
    border-bottom:1px solid #e4e4e4;
    border-top:none;
    margin-top:5px;
    padding-bottom:2px;
}

.subnav li li a {
    background:none;
    font-size:11px;
    padding-left:24px;
}

.subnav li li li a {
    padding-left:48px;
}

.subnav li li li li a {
    padding-left:72px;
}

.subnav li li li li li a {
    padding-left:96px;
}

address {
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    color:#333;
    font-size:12px;
    height:28px;
    letter-spacing:0;
    line-height:28px;
    text-transform:none;
    margin:0 28px;
}

#poweredByContainer {
    border:none;
    padding-bottom:15px;
}

#poweredBy {
    color:#333;
    font-size:11px;
    margin-left:28px;
}

#poweredByRight {
    margin-right:28px;
}

a,#companyName,#actionLine,.contentArea .h2 {
    color:#f60;
}

#globalContainer,#breadcrumbWrapper,#topGraphicWrapper,#adLeaderboardWrapper,#contentWrapperWrapper,#footer,#topNav ul {
    width:956px;
}

#globalLanguage li,.hours p.small {
    margin-left:15px;
}

.comments .right,.comments dt a,.comments .small a,.formbuilder.simple label,.gallery .nav .info {
    color:#666;
}

.subnav ul ul ul,.subnav li li {
    margin:0;
}

/* BUTTONS */
.shopButtonWrapper {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.shopButton,
.checkoutArea form .shopButton,
.formbuilder .button {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #ff5700;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.formbuilder .button {
    padding: 0 20px;
}
